.search-form {
    // margin-block: auto;
}

.search-wrap {


    background-color: #D9D9D9;
    margin: 20px auto;
    width: 345px;
    padding-block: 8px;
    border-radius: 0.5rem;
    // height: 40px; use padding instead

}

input {
    padding: 5px 12px;
}