/* settings.scss */
.container {
    margin-block: 1.5rem;
}

/* Category rows */
.div__setting {
    width: 100%;
    padding: 20px 30px;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
}

.div__setting:last-child {
    border-bottom: 1px solid #d9d9d9;
}


.toggleSwitch {
    display: flex;
    align-items: center;

    input {
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    &__base {
        width: 3.76rem;
        height: 2rem;
        background-color: #8e8b8b;
        border-radius: 1.5rem;
        padding: 0.05rem;
        transition: all 200ms ease;

    }

    &__toggle {
        width: 1.9rem;
        height: 1.9rem;
        background-color: #FFFFFF;
        border-radius: 50%;
        transition: all 200ms ease;
        transform: translateX(1.6rem);
    }

}

.toggleSwitch input:checked+.toggleSwitch__base {
    background-color: #4D861F;
}

.toggleSwitch input:checked+.toggleSwitch__base .toggleSwitch__toggle {
    background-color: #FFFFFF;
    transform: translateX(0.1rem);
    overflow: none;

}

.p__versioninfo {
    display: flex;
    justify-content: center;
}