.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 19px;
        height: 27px;
    }

    h1 {
        font-size: 1.5rem;
        margin-left: 1rem;

    }
}